<div class="row">
    <div class="col-md-6">
        <a class="btn btn-primary" data-ui-sref="main.tabs.games.add">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span>Add</span>
        </a>
    </div>
</div>
<div class="row top-space-m32">
    <div class="col-md-3">
        <ul class="list-unstyled">
            <li data-ng-repeat="game in GameCtrl.games track by game.id">
                <a data-ui-sref="main.tabs.games.detail({gameId: game.id})">
                    <span data-ng-bind="game.name || '(No name)'"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <h2 data-ng-if="GameCtrl.games.length" class="title">Current Game</h2>
        <form data-ng-submit="GameCtrl.saveParameters()" name="parametersForm" data-ng-if="GameCtrl.games.length">
            <div class="row">
                <div class="col-md-6">
                    <ui-select ng-model="GameCtrl.tmpGame" theme="bootstrap" name="currentGame">
                        <ui-select-match placeholder="Select or search a game in the list...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="game in GameCtrl.games | filter: $select.search">
                            <div ng-bind-html="game.name | highlight: $select.search"></div>
                            <span>
                                <img data-ng-if="game.teamA.logo" data-ng-src="{{game.teamA.logo}}" class="icon">
                                <span class="label" style="background-color: {{ game.teamA.color_code }}" ng-bind-html="(game.teamA.name || ' ') | highlight: $select.search"></span>
                            </span>
                            <i class="fa fa-arrows-h" aria-hidden="true"></i>
                            <span>
                                <span class="label" style="background-color: {{ game.teamB.color_code }}" ng-bind-html="(game.teamB.name || ' ') | highlight: $select.search"></span>
                                <img data-ng-if="game.teamB.logo" data-ng-src="{{game.teamB.logo}}" class="icon">
                            </span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <label class="col-md-12" for="currentGame" data-ng-if="GameCtrl.parameters.game">
                    <span>
                        <img data-ng-if="GameCtrl.parameters.game.teamA.logo" data-ng-src="{{GameCtrl.parameters.game.teamA.logo}}" class="icon">
                        <span class="label" style="background-color: {{ GameCtrl.parameters.game.teamA.color_code }}" ng-bind="GameCtrl.parameters.game.teamA.name || ' '"></span>
                    </span>
                    <i class="fa fa-arrows-h" aria-hidden="true"></i>
                    <span>
                        <span class="label" style="background-color: {{ GameCtrl.parameters.game.teamB.color_code }}" ng-bind="GameCtrl.parameters.game.teamB.name || ' '"></span>
                        <img data-ng-if="GameCtrl.parameters.game.teamB.logo" data-ng-src="{{GameCtrl.parameters.game.teamB.logo}}" class="icon">
                    </span>
                </label>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button data-ng-if="GameCtrl.tmpGame" type="submit" class="btn btn-primary pull-right" data-ng-disabled="parametersForm.$invalid || GameCtrl.parameterBusy">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <span>Update</span>
                    </button>
                </div>
            </div>
        </form>
        <div class="row" data-ng-if="!GameCtrl.games.length">
            <div class="col-md-6">
                <a data-ui-sref="main.tabs.games.add">You first need to create a game</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" data-ui-view="gameDetail"></div>
        </div>
    </div>
</div>