<div data-ng-if="BoardCtrl.errors.length">
    <div class="row" data-ng-repeat="error in BoardCtrl.errors">
        <div class="col-md-6">
            <a data-ui-sref="main.tabs.games()">
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <span>Please select a game</span>
            </a>
        </div>
    </div>
</div>
<div data-ng-if="BoardCtrl.errors.length === 0">
    <!-- TEAMS -->
    <div class="row">
        <div class="col-md-6 border-right">
            <!-- TEAM1 -->
            <div class="row">
                <!-- TEAM1 title -->
                <div class="col-md-4 text-center">
                    <img data-ng-src="{{BoardCtrl.parameters.game.teamA.logo}}">
                </div>
                <div class="col-md-4 text-center">
                    <h2 data-ng-bind="BoardCtrl.parameters.game.teamA.name"></h2>
                </div>
                <div class="col-md-4 top-space-m32 text-center">
                    <strong data-ng-bind="BoardCtrl.parameters.game.teamA.color"
                            class="top-space-p4 bottom-space-p4 left-space-p4 right-space-p4"
                            style="background-color: {{BoardCtrl.parameters.game.teamA.color_code}};color:{{BoardCtrl.parameters.game.teamA.textColor}}">
                    </strong>
                </div>
            </div>
            <!-- TEAM1 score -->
            <div class="row">
                <div class="col-md-5 text-right">
                    <button type="button" class="btn btn-warning" data-ng-click="BoardCtrl.adjustScore(-1,0)">jam-1</button>
                </div>
                <div class="col-md-2 text-center">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span contenteditable="true"
                                  type="number"
                                  class="main-score"
                                  data-ng-model="BoardCtrl.parameters.game.scoreA"
                                  data-ng-change="BoardCtrl.saveScore()"></span>
                        </div>
                    </div>
                    <!-- TEAM1 jam score -->
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span contenteditable="true"
                                  type="number"
                                  class="jam-score"
                                  data-ng-model="BoardCtrl.parameters.game.jamScoreA"
                                  data-ng-change="BoardCtrl.saveScore()"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 text-left">
                    <button type="button" class="btn btn-success" data-ng-click="BoardCtrl.adjustScore(1,0)">jam+1</button>
                    <button type="button" class="btn btn-success" data-ng-click="BoardCtrl.adjustScore(2,0)">jam+2</button>
                    <button type="button" class="btn btn-success" data-ng-click="BoardCtrl.adjustScore(3,0)">jam+3</button>
                    <button type="button" class="btn btn-success" data-ng-click="BoardCtrl.adjustScore(4,0)">jam+4</button>
                    <button type="button" class="btn btn-success" data-ng-click="BoardCtrl.adjustScore(5,0)">jam+5</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- TEAM2 -->
            <div class="row">
                <!-- TEAM2 title -->
                <div class="col-md-4 text-center">
                    <img data-ng-src="{{BoardCtrl.parameters.game.teamB.logo}}">
                </div>
                <div class="col-md-4 text-center">
                    <h2 data-ng-bind="BoardCtrl.parameters.game.teamB.name"></h2>
                </div>
                <div class="col-md-4 top-space-m32 text-center">
                    <strong data-ng-bind="BoardCtrl.parameters.game.teamB.color"
                            class="top-space-p4 bottom-space-p4 left-space-p4 right-space-p4"
                            style="background-color: {{BoardCtrl.parameters.game.teamB.color_code}};color:{{BoardCtrl.parameters.game.teamB.textColor}}">
                    </strong>
                </div>
            </div>
            <!-- TEAM2 score -->
             <div class="row">
                <div class="col-md-5 text-right">
                    <button type="button" class="btn btn-warning" data-ng-click="BoardCtrl.adjustScore(0,-1)">jam-1</button>
                </div>
                <div class="col-md-2 text-center">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span contenteditable="true"
                                  type="number"
                                  class="main-score"
                                  data-ng-model="BoardCtrl.parameters.game.scoreB"
                                  data-ng-change="BoardCtrl.saveScore()"></span>
                        </div>
                    </div>
                    <!-- TEAM2 jam score -->
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span contenteditable="true"
                                  type="number"
                                  class="jam-score"
                                  data-ng-model="BoardCtrl.parameters.game.jamScoreB"
                                  data-ng-change="BoardCtrl.saveScore()"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 text-left">
                    <button type="button" class="btn btn-success" data-ng-click="BoardCtrl.adjustScore(0,1)">jam+1</button>
                    <button type="button" class="btn btn-success" data-ng-click="BoardCtrl.adjustScore(0,2)">jam+2</button>
                    <button type="button" class="btn btn-success" data-ng-click="BoardCtrl.adjustScore(0,3)">jam+3</button>
                    <button type="button" class="btn btn-success" data-ng-click="BoardCtrl.adjustScore(0,4)">jam+4</button>
                    <button type="button" class="btn btn-success" data-ng-click="BoardCtrl.adjustScore(0,5)">jam+5</button>
                </div>
            </div>
        </div>
    </div>
    <!-- CHRONOMETERS -->
    <div class="row border-top">
        <div class="col-md-6 border-right text-center">
            <!-- PERIOD -->
            <h2>Period</h2>
            <chronometer class="chronometer" init="0" id="period"></chronometer>
        </div>
        <div class="col-md-6 text-center">
            <!-- JAM -->
            <h2>Jam</h2>
            <chronometer class="chronometer" init="120" countdown="true" id="jam"></chronometer>
        </div>
    </div>
</div>