<h2 class="title">New team</h2>
<form name="teamForm" data-ng-submit="TeamAddCtrl.addTeam()">
    <div class="form-group row">
        <div class="col-md-6">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control"data-ng-model="TeamAddCtrl.team.name" required>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            <label for="color">Color</label>
            <button type="button"
                    class="btn btn-sm"
                    data-ng-click="TeamAddCtrl.openColor = !TeamAddCtrl.openColor"
                    style="background-color: {{ TeamAddCtrl.team.color_code }}">&nbsp;</button>
            <input type="text" id="color" class="form-control" data-ng-model="TeamAddCtrl.team.color" required>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>Color</label>
            <material-picker ng-model="TeamAddCtrl.team.color_code" 
                             data-format="'hex'"
                             data-ng-show="TeamAddCtrl.openColor"
                             data-ng-change="TeamAddCtrl.openColor = false"
                             data-size="15">
            </material-picker>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary" data-ng-disabled="teamForm.$invalid">
                <i class="fa fa-check" aria-hidden="true"></i>
                <span>Create</span>
            </button>
        </div>
    </div>
</form>

