body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
    color: #333;
}

div.text-zone {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

div.text-zone .description {
    margin-right: 30px;
    float: right;
}

div.image-zone {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

h1 {
    color: #888;
    font-size: 5em;
}