// bower:less
// endbower

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.tab-content {
    margin-left: 15px;
}


.top-space-m32 {
  margin-top: 32px;
}

img.icon {
    height: 16px;
}

.title {
    width: 100%;
    border-bottom: solid 2px @brand-primary;
    padding: 10px 0 3px 0;
}