<uib-tabset active="active">
    <uib-tab index="$index"
             ng-click="MainCtrl.go(tab.state)"
             data-ng-repeat="tab in MainCtrl.tabs track by $index">
        <uib-tab-heading>
            <i data-ng-class="tab.icon" aria-hidden="true"></i>
            <span data-ng-bind="tab.name"></span>
        </uib-tab-heading>
    </uib-tab>
</uib-tabset>

<div class="tab-content top-space-m32" data-ui-view="tabContent"></div>






<!--<form method="post" action="/teams/2/logo" enctype="multipart/form-data">
                <label for="logo">Icône du fichier (JPG, PNG ou GIF | max. 15 Ko) :</label>
                <input type="file" name="logo" id="logo" /><br />

                <input type="submit" name="submit" value="Envoyer" />
            </form>-->